body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(3.jpg);
    width: 1680px;
}
table {
    border-collapse: collapse;
    width: 50%;
  }
th, td {
    padding: 0.25rem;
    text-align: left;
    border: none;
    border-radius: 12px;
    color: rgb(207, 141, 117);
 }
.contain{
    font-size: 14px;
  }
 th, td:hover{
    color: whitesmoke;
    cursor: url("https://crack4download.com/Content/Images/Logos/Professional-Bartender.gif"), auto;
 }
  a{
    font-size: 30px;
    color: rgba(255, 68, 0, 0.616);
    text-decoration-line: none;
    text-align: center;
    white-space: normal;
    margin-left: 20px;
}
td{
    font-weight: bolder; 
    font-size: 20px;
    letter-spacing: 4px;    
}
th{
    font-size: 25px;
    color: grey;
}

tbody tr:hover {
    background: rgba(255, 68, 0, 0.335);
}

html{
    color: whitesmoke;
}
.title{
    font-size: 50px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: bolder;
}