* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.container{
max-width: 1000px;
position: relative;
margin: auto;
}
html{
  background-color: rgba(80, 104, 96, 0.671);
}
body{
  margin-top: 50px;
}
i{
  cursor: pointer;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

#right {
  position: absolute;
  right: 20%;
  border-radius: 3px 0 0 3px;
}
#left {
  position: absolute;
  left: 20%;
  border-radius: 3px 0 0 3px;
}

#left:hover, #right:hover {
  background-color: rgba(0,0,0,0.8);
}
#description{
  color: black;
  font-size: 20px;
  position: absolute;
  bottom: 30%;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  max-width: 1200px ;
  background-color: rgba(148, 172, 164, 0.555);
}
p{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.712);
  font-weight: bolder;
  padding: 30px;
}
#mainimage{
  height:905px;
  width:auto;
  max-width: 1200px;
  box-shadow: 20px 40px 50px #141414da; 
  align-content: center;
  border-radius: 4%;
  transition: all 0.5s ease-in-out;
}
#thumbnails{
  display: flex;
  height: 200px;
  align-content: center;
  justify-content: center ;
  margin-top: 40px;
 
}
#thumbnails img{
  width: 80px;
  height: 80px;
  box-shadow: 10px 20px 18px #141414da; 
  border-radius: 20%;
  margin-left: 20px;
}

#thumbnails img:hover{
  transform: scale(1.5);
  border-radius: 10%;
}

#display{
  display: flex;
  align-content: center;
  justify-content: center;
}
