html{
    background-image:  radial-gradient( circle, rgba(88, 17, 73, 0.993), rgb(110, 80, 143), rgb(206, 169, 189));
    width: 1200px;
    height: 1200px;

}

h2{
    display: flex;
    align-content: center;
}

.display-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.myPhoto{
    //display: none;
}
