/*The layout should be centered on the page.
The layout should have fixed width.
When picking the semantically correct element,
consider the roles of the boxes:
Purple: Header
Cyan: Navigation links
Yellow: Main Content
Green: Sidebar (not main content)*/

html{
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
}
body{
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
}
.header{
    display: flex;
    height: 80px;
    background-color: darkmagenta;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    
}
.item{
    list-style: none;
    background-color: cyan;
    width:  100px;
    height: 30px;
    margin-left: 20px;
   
}
.first{
    flex-basis: 40%;
}
.second{
    flex-basis: 20%;
}
.third{
    flex-basis: 40%;
}
.thecontainer{
    display: flex;
    width: 100%;
    height: 1600px;
    flex-direction: row;
}
.items{
    height: 100%;
}
.green{
    background-color:  yellow;
    width: 75%;
    order: 1;
}
.yellow{
    background-color: green;
    width: 25%;
    order: 2;
}