/*The purple items should have fixed size
The yellow area should fill all available horizontal space
The yellow area should have a fixed height*/

.container{
    display: flex;
    width: 700px;
    height: 400px;
    background-color: yellow;
    justify-items: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;

}

.item{

    list-style: none;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    padding: 0;
    margin-right: 10px;
    
}

