.container{
    display: flex;
    align-items: center;
    width: 400px;
    height: 400px;
}
.item{
    width: 100px;
    height: 100px;
    flex: 1 0 ;
}

.green{
    background-color: green;
   
}
.yellow{
    background-color: yellow;
    flex-grow: 2;
}
.purple{
    background-color: purple;
    
}